[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
mapbox = "*"
plotly = "*"
pandas = "*"
python-dotenv = "*"
requests = "*"
pymongo = "*"
pydantic = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
